@import "tailwindcss";

@theme inline {
  --color-grey-main: rgb(247, 247, 247);
  --color-grey-light: rgb(227, 227, 227);
  --color-grey-medium: rgb(207, 207, 207);
  --color-grey-dark: rgb(181, 181, 181);
  --color-grey-main-alpha: rgba(247, 247, 247, 0.6);

  --color-primary-main: rgb(251, 153, 142);
  --color-primary-light: rgb(228, 116, 105);
  --color-primary-medium: rgb(205, 88, 78);
  --color-primary-dark: rgb(179, 64, 55);
  --color-primary-light-alpha3 : rgba(228, 116, 105,0.3);
  --color-primary-light-alpha4 : rgba(228, 116, 105,0.4);
  --color-primary-light-alpha5 : rgba(228, 116, 105,0.5);
  --color-primary-light-alpha6 : rgba(228, 116, 105,0.6);

  --color-text-title: #2B2E33;
  --color-text-text: #7B7F85;
  --color-text-main: #7B7F85;
  --color-text-sub: #C1C4C8;
}
